* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */

  --background-green: #0eaf59;
  --background-blue: #9ce3f2;
  --background-lemon: #85c747;
  --button-red: #ff412f;
  --text-blue: #095bb0;
  --text-red: #ff4535;
  --card-yellow: #fff093;
  --card-purple: #fd84b6;
  --talker-inner-border: #1f2427;
  --talker-outer-border: #ff412f;
  --images-background: #ff822a;
  --black: #000;
  --white: #fff;

  /* FONTS */
  --primary-font: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
}

header {
  background-color: var(--background-blue);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.sky-top-image {
  max-width: 60%; 
  height: auto; 
}

.sky-top {
  position: absolute;
  top: -5rem;
  left: -5rem;
  /* z-index: -1; */
  max-width: 100%;
  height: auto; 
}

.ballon {
  max-width: 100%;
  position: absolute;
  height: auto;
  top: -2rem;
  left: 0;
}

.ballon img {
  max-width: 20%;
}

.text-image {
  /* outline: 1px solid red; */
  width: 100%;
  position: absolute;
  height: auto;
  display: flex;
  justify-content: center;
  /* top: -5rem; */
}

.text-image img {
  max-width: 80%;
  min-width: 29rem;
}

.social {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 90rem;
  padding: 4rem 2rem;
  margin: auto;
  height: 5rem;
  /* outline: 1px solid; */
  display: flex;
align-items: center;
justify-content: end;
}

.social a {
  display: block;
  text-decoration: none;
}

.social i {
  font-size: 4rem;
  color: var(--button-red);
}

.header-button {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid; */
}

.header-button button {
  padding: 1.2rem;
  border: none;
  font-weight: bold;
  color: var(--white);
  background-color: var(--button-red);
}

.yellow-card,
.pink-card {
  width: 100%;
  position: relative;
  z-index: 1;
}

.card-container {
  width: 90%;
  margin: 15rem auto 12rem;
}

.yellow-card {
  transform: rotate(2deg);
  display: flex;
  justify-content: center;
}

.pink-card {
  display: flex;
  justify-content: center;
  /* margin-bottom: 12rem; */
}

.yellow-card img {
  width: 100%;
  object-fit: cover;
  min-width: 34rem;
  max-width: 90rem;
}

.pink-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.pink-card img {
  width: 70%;
  min-width: 28rem;
  max-width: 60rem;
}

.chat-bubble {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.chat-bubble img {
  width: 30%;
  min-width: 15rem;
  max-width: 60rem;
}

.kite {
  width: 100%;
  position: absolute;
  top: 45rem;
  right: -85%;
}

.kite img {
  width: 15%;
}

.sky-bottom-image {
  width: 60%;
  margin-right: -5rem;
}

.sky-bottom {
  /* outline: 1px solid; */
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 5rem;
  right: -25rem;
}

.career-images-container {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
  justify-content: center;
  width: 100%;
}

.career-images {
  width: 60%;
  max-width: 60rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.div {
  width: 60%;
  max-width: 30rem;
}

.div img {
  width: 100%;
}

.grass-image {
  width: 100%;
}

.grass {
  position: absolute;
  bottom: 0;
  margin-bottom: -1rem;
  width: 100%;
}

.top-blub {
  width: 25rem;
  height: 30rem;
}

.square {
  background-color: var(--button-red);
  height: inherit;
  margin-top: -0.4rem;
}

/* Section styles */

section {
  width: 100%;
  padding: 2rem;
  background-color: var(--images-background);
}

.section {
  /* max-width: 90rem; */
  margin: auto;
  max-width: 50rem;
}

.images {
  margin-bottom: 1rem;
  min-height: 26.5rem;
  background-color: var(--white);
  border: 1.5rem solid var(--white);
  box-shadow: 3px 6px 4px -1px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 3px 6px 4px -1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 3px 6px 4px -1px rgba(0, 0, 0, 0.67);
}

.image {
  /* width: 40rem; */
  height: 20rem;
  /* outline: 1px solid; */
  background-color: grey;
}

.image-1 {
  background-image: url("./images/group.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.images span {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  /* padding-top: 20.5rem; */
}

.image-2 {
  background-image: url("./images/interview.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer styles */

footer {
  background-color: var(--card-yellow);
  width: 100%;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.footer-data {
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 90rem;
}

form {
  width: 100%;
  background: #fff;
  border-radius: 0.6rem;
  outline: 1px solid;
  max-width: 60rem;
}

form a {
  text-decoration:none ;
  color: var(--black);
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

form div i {
  font-size: 2rem;
}

input {
  border: none;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
}

input::placeholder {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: var(--black);
}

.footer-buttons {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 59rem;
}

.buttons-group-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.button a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 0rem;
  border: 0.5rem solid var(--white);
  border-radius: 2rem;
  color: white;
  font-weight: bold;
}

.button-1 a {
  background-color: var(--card-purple);
}

.button-2 a {
  background-color: var(--background-blue);
}

.button-3 a {
  background-color: var(--button-red);
}

.button span {
  display: block;
  margin-top: 0.8rem;
  text-align: center;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}

.buttons-group-2 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.copywrite {
  margin-top: 1.5rem;
}

.copywrite p {
  text-align: center;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}

@media screen and (min-width: 560px) {
  .card-container {
    margin: 25rem auto 20rem;
  }
  .sky-bottom {
    right: -32rem;
  }
}

@media screen and (min-width: 760px) {
  .section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    max-width: 100rem;
  }

  .images {
    width: 40rem;
  }

  .buttons-group-1 {
    justify-content: space-between;
    flex-direction: row;
  }

  .card-container {
    margin: 35rem auto 30rem;
  }

  .sky-bottom {
    right: -40rem;
    bottom: 10rem;
  }

  .pink-chat {
    flex-direction: row;
  }
}

@media screen and (min-width: 1025px) {
  .sky-bottom {
    bottom: 25rem;
  }
}
